<div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-sm-12 footer-left-div">
          <p>Call</p>
          <p><a href="tel:+94719526224">+(94)-71 95 26 224</a></p>
          
        </div>

        <div class="col-lg-4 col-sm-12 footer-middle-div">
          <p>Mail Me</p>
          <p><a class="mail" data-auto-recognition="true"
              href="mailto:pulindujanith@gmail.com">pulindujanith@gmail.com</a></p>
        </div>

        <div class="col-lg-4 col-sm-12">
          <p>Look Me Up</p>
          <a href="https://www.facebook.com/pulindu.j.desilva" target="_blank"><img
              src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png" /></i></a>
          <a href="https://www.instagram.com/pulindudesilva/" target="_blank"><img
              src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png" /></a>
          <a href="https://www.linkedin.com/in/pulindudesilva" target="_blank"><img
              src="https://img.icons8.com/ios-glyphs/30/000000/linkedin-circled--v1.png" /></a>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  
</body>

</html>