body {
    background-color: #e6ccb2;
}

.btn {
    width: 160px;
    border: solid white 4px;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
}

.container {
    align-items: center;
}

.footer {
    position: relative;
    bottom: 0;
    text-align: center;
}

.greeting {
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
}

.heading {
    font-size: 29px;
    font-weight: bold;
}

.heading-p {
    color: white;
}

.heading .navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-plus-heading {
    padding: 10%;
}

.mail {
    text-decoration: none;
    color: black;
}

.nav-bar {
    margin-bottom: 16px;
}

.para-title {
    font-family: 'Nunito', sans-serif;
}

.profile-photo {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 4px #ddb892;
    float: left;
    flex-wrap: wrap;
}

.text {
    text-align: justify;
}