<%- include("partials/header.ejs"); -%>
    <div class="container-projects">
        <div class="container heading">
            <h1>My Projects</h1>
            <img class=" project-photo" src="/photos/project.jpeg" alt="project cover photo">
        </div>
        <div class="container project-div">
            <h2>Resume website:</h2>
            <img class="project-photo" src="/photos/web.png" alt="reume-website-cover-photo">
            <p class="project-content">
                Self mptivated projected to showcase my konledge on basic html, css, and javascript. Hosted using
                heroku.
                The site has 3 main
                pages, "About" which is the welcoming page, Projects page shows the projects that I have I done these
                days,
                Contact page has the ability to send an email using the platform itself. Acheived this via EmailJS,
                EmailJS
                send emails using client-side technologies only without the need of a server.
            </p>
            <a href="https://resumepulindu.herokuapp.com/"><button class="btn btn-dark">Click Me</button></a>
        </div>
        <div class="container project-div">
            <h2>To Do List Web App:</h2>
            <img class="project-photo" src="/photos/dolist.png" alt="dolist-cover-photo">
            <p class="project-content">
                This is a do list web app. This is connected with MongoDB atlas to preserve the data. HTML, CSS, Node is
                used as technologies. We can add new items by press of +(plus) button. Behind the screen this creates a
                new
                document in the Mongo Databse. When the checked button is pressed the item is deleted from the database.
                Used findByIDAndDelete() method. The web app also has the ability to create todolist dinamically, as an
                example if we direct to .../work, the app checks for works route and if no route was found it will
                create a
                new route for work and you can store work related todo items.

            </p>
            <a href="https://dolistbypulindu.herokuapp.com/"><button class="btn btn-dark">Click Me</button></a>
        </div>
        <div class="container project-div">
            <h2>Emoji Web App:</h2>
            <img class="project-photo" src="/photos/emoji.png" alt="emoji-cover-photo">
            <p class="project-content">
                This is my first web app made using react. Used react components, props, and React hooks in this
                project.
                This is not yet connected to a database. the emoji are stored as objects in an array. Each emoji object
                as
                an id, icon, and a content field. Each emoji is rendered as an component using map function. All the
                objects
                in the stored array are itterated using the map function and displayed in the page.
            </p>
            <a href="https://emojipediabypulindu.herokuapp.com/"><button class="btn btn-lg btn-dark">Click
                    Me</button></a>
        </div>
        <div class="container project-div">
            <h2>Intelligent system for Elderly care</h2>
            <p class="project-content">
                Final year project. Design and development of a vocal and visual interactive system with the ability of
                continuous patient monitoring to identify fall detection. The vocal interactive system used a machin
                learning module to detect what topic the patient was talking about and engage in a meaningful
                conversation. Also had the ability to suggest movies based on patients movie preference, used consine
                similarity of movies to get 5 movie suggestions. Stored the patients's feedback on movies to improve
                future movie suggestions.
            </p>
        </div>
        <div class="container project-div">
            <h2>Trip Switch Checker</h2>
            <p class="project-content">
                Individual project. Developing a device to check the continuity of electrical circuits in domestic
                buildings.
            </p>
        </div>
        <div class="container project-div">
            <h2>Smart Solar Tracker</h2>
            <p class="project-content">
                Developing a solar tracker with dual axis rotation for optimum tracking and power generation as a Team
                effort.
            </p>
        </div>
    </div>

    <%- include("partials/footer.ejs"); -%>