<%- include("partials/header.ejs"); -%>
    <div class="container">
        <img class="project-photo" src="/photos/project.jpeg" alt="project cover photo">
    </div>
    <div class="container project-div">
        <h2>Intelligent system for Elderly care</h2>
        <p>
            Final year project. Design and development of a vocal and visual interactive system with the ability of
            continuous patient monitoring to identify fall detection. The vocal interactive system used a machin
            learning module to detect what topic the patient was talking about and engage in a meaningful conversation.
            Also had the ability to suggest movies based on patients movie preference, used consine similarity of movies
            to get 5 movie suggestions. Stored the patients's feedback on movies to improve future movie suggestions.
        </p>
    </div>
    <div class="container project-div">
        <h2>Trip Switch Checker</h2>
        <p>
            Individual project. Developing a device to check the continuity of electrical circuits in domestic
            buildings.
        </p>
    </div>
    <div class="container project-div">
        <h2>Smart Solar Tracker</h2>
        <p>
            Developing a solar tracker with dual axis rotation for optimum tracking and power generation as a Team
            effort.
        </p>
    </div>

    <%- include("partials/footer.ejs"); -%>