body {
    background-color: #e6ccb2;
    align-items: center;
}
/* a{
    text-decoration: none;
    color: #e0be9c;
} */
.btn {
    width: auto;
    border: solid white 1px;
    border-radius: 50px 50px 50px 50px;
    font-size: 25px;
    margin: 5px;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.container-projects {
    align-items: center;
    width: 60%;
    margin: auto;
    font-size: 19px;
}
.container-projects{
    text-align: justify;
}


.email-photo {
    width: 90%;
    height: auto;
}

.footer {
    background-color: #e3c3a3;
    position: relative;
    bottom: 0;
    padding: 3%;
    text-align: center;
}

.footer-left-div,
.footer-middle-div {
    border-right: solid 2px white;
}

.form-div {
    animation: 2s ease-out 0.3s 1 forwards forwards;
    animation-name: slidein;
}

.form-label-divs {
    margin: 3px;
    padding: 1%;
    width: 80%;
}

.greeting {
    font-family: 'Noto Sans', sans-serif;
    font-size: 58px;
    margin-top: 9px;
}

.heading {
    font-size: 29px;
    font-weight: bold;
}

.heading-p {
    color: white;
}

.heading,
.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-plus-heading {
    padding: 5%;
}

.inputs {
    /* margin: 3px; */
    margin-bottom: 0;
    display: block;
    width: 100%;
    border: solid 2px black;
    /* border-radius: 2%; */
}

/* .label{
    border-bottom: solid 2px black;
    font-size: 1.4rem;
    margin: 9px;
} */

.mail {
    text-decoration: none;
    color: black;
}

.mail-img {
    animation: 2s ease-out 0.3s 1 forwards forwards;
    animation-name: slidein;

    margin-top: 3%;
}

.nav-bar {
    margin-bottom: 16px;
}

.not-found {
    animation: 2s ease-out 0.2s 1 forwards forwards;
    animation-name: slidein, borders;

    background-image: linear-gradient(rgb(243, 185, 124), rgb(236, 197, 153));
    margin: 5%;
    padding: 5% 31%;
    box-shadow: 10px 10px 20px 10px rgb(99, 97, 96);
    text-align: center;
}

.not-found-heading {
    font-family: 'Noto Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.para-title {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
}

.photo-div {
    margin: 2% 0;
}

.profile-photo {
    animation: 2s ease-out 0.2s 1 forwards forwards;
    animation-name: slidein, borders;

    border-radius: 100%;
    flex-wrap: wrap;
    float: left;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.project-div {
    animation: 2s ease-out 0.3s 1 forwards forwards;
    animation-name: slidein;

    border-bottom: solid 3px black;
    margin-bottom: 16px;

}

.project-photo {
    animation: 2s ease-out 0.2s 1 forwards forwards;
    animation-name: slidein;

    margin-bottom: 2%;
    width: 700px;
    height: 300px;
    object-fit: contain;
}

.resume-photo {
    animation: 2s ease-out 0.2s 1 forwards forwards;
    animation-name: slidein, borders;

    flex-wrap: wrap;
    height: auto;
    object-fit: cover;
    margin-left: 4.6%;
    margin-bottom: 2%;
    width: 90%;
}

.text-div {
    animation: 2s ease-out 0.5s 1 forwards forwards;
    animation-name: slidein, shadows;

    padding: 4%;
    text-align: justify;


}

@keyframes borders {
    from {
        border: none
    }

    to {
        border: solid 4px #ddb892;
    }
}

@keyframes shadows {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 10px 10px 10px 10px #e0be9c;
    }
}

@keyframes slidein {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

@media (max-width: 991px) {

    .btn {
        font-size: 16px;
    }
    .container,.container-projects {
        width: 80%;
    }
    .footer-left-div,
    .footer-middle-div {
        border-bottom: solid 2px white;
        border-right: none;
    }

    .greeting {
        font-family: 'Noto Sans', sans-serif;
        font-size: 46px;
        /* font-size: 500%; */
    }

    .heading {
        font-size: 19px;
        font-weight: bold;
    }

    .para-title {
        font-family: 'Nunito', sans-serif;
        font-size: 29px;
    }

    .project-photo {

        margin-bottom: 2%;
        width: 100%;
        height: auto;
    }


}